@CHARSET "ISO-8859-1";

h1 {
	color: navy;
}

h2 {
	color: #3CBC8D;
}

#bodyResponse {
	background: #bdbbbb3d;
	border-radius: 10px;
	padding: 10px;
	margin: 100px;
}

input[type=text] {
	background-color: #3CBC8D;
	color: white;
	border: none;
	border-bottom: 2px solid blue;
	margin: 5px 5px;
	padding: 5px 5px;
}

input[type=password] {
	background-color: #3CBC8D;
	color: white;
	border: none;
	border-bottom: 2px solid blue;
	margin: 5px 5px;
	padding: 5px 5px;
}

label {
	color: navy;
}

select {
	width: 100%;
	padding: 16px 20px;
	border: none;
	border-radius: 4px;
	/*background-color: #f1f1f1;*/
}

input[type=button],input[type=submit],input[type=reset] {
	background-color: #3CBC8D;
	border: none;
	color: white;
	padding: 16px 32px;
	text-decoration: none;
	margin: 4px 2px;
}

#login {
	background-color: #bdbbbb3d;
	border-radius: 10px;
	padding: 10px;
	margin: 100px;
}